

.home-exp-card-container input:checked+label .div {
    background-color: #fff;
    width: auto;
}

/* .home-exp-card-container .home-expanding-card {} */

.home-exp-card-container .home-expanding-card .div {
    background-color: #F3C1E7;
    padding: 0.5rem;
    border-radius: 5rem;
}

@media screen and (min-width: 1024px) {
    .home-exp-card-container input:checked+label {
        width: 450px;
        background-color: #F3C1E7;
    }
    
}