.textLayer {
    position: absolute;
    text-align: initial;
    inset: 0;
    overflow: hidden;
    opacity: 0.33;
    line-height:1 ;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    forced-color-adjust: none;
    transform-origin: 0 0;
    z-index: 2;
    color: transparent;
    font-size: 18px;
 
}

.textLayer :is(span, br) {
    color: transparent;
    position: absolute;
    white-space: pre;
    cursor: text;
    transform-origin: 0% 0%;
}

.textLayer span.markedContent {
    top: 0;
    height: 0;
}


.textLayer .highlighted {
    --highlight-bg-color: yellow;
    --highlight-selected-bg-color: yellowgreen;

    margin: -1px;
    padding: 1px;
    background-color: var(--highlight-bg-color);
    border-radius: 4px;
    color: transparent;
}

@media screen and (forced-colors: active) {
    .textLayer .highlighted {
        --highlight-bg-color: Highlight;
        --highlight-selected-bg-color: ButtonText;
    }
}

.textLayer .highlight.appended {
    position: initial;
}

.textLayer .highlight.begin {
    border-radius: 4px 0 0 4px;
}

.textLayer .highlight.end {
    border-radius: 0 4px 4px 0;
}

.textLayer .highlight.middle {
    border-radius: 0;
}

.textLayer .highlight.selected {
    background-color: var(--highlight-selected-bg-color);
}

.textLayer ::-moz-selection {
    background: blue;
    background: AccentColor;
}

.textLayer ::selection {
    background: blue;
    background: AccentColor;
}

.textLayer br::-moz-selection {
    background: transparent;
}

.textLayer br::selection {
    background: transparent;
}

.textLayer .endOfContent {
    display: block;
    position: absolute;
    inset: 100% 0 0;
    z-index: -1;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.textLayer .endOfContent.active {
    top: 0;
}
#pdf-container {
    width: 100%;
    height: 600px;
    border: 1px solid #ccc;
    overflow: auto;
    position: relative;
}
.page {
    position: relative;
}


.pageCanvas canvas {
    display: block;
    margin-bottom: 20px;
  }

  .textLayer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}